# ---- Server ----
PORT=8080
POLL_MS=3000

# ---- Proxmox VE ----
PVE_HOST=192.168.20.2
PVE_PORT=8006
PVE_NODE=pve
# Token created with: pveum (see README). Format: user@realm!tokenname
PVE_TOKEN_ID=monitor@pve!gui
PVE_TOKEN_SECRET=00000000-0000-0000-0000-000000000000

# ---- Data sources (LXC 200) ----
PROM_URL=http://192.168.20.50:9090
LOKI_URL=http://192.168.20.50:3100
GRAFANA_URL=http://192.168.20.50:3000

# Loki label used to select a host's logs: {host="pve"}
LOKI_LABEL=host
